.container {
    margin-top: 120px;
   
}

.container-middle {
    background-color: rgba(104, 17, 244, 0.02);
    width: 100%;
}

.service-profile {
    display: flex;
    justify-content: space-between;
    padding: 88px 0;
    width: 66.5%;
    margin: 0 auto;
}

.service-profile .Service-container {
border-right: 1px solid rgba(85, 85, 85, 0.08);
width: 50%;

}

.profileContainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.profile {
    max-width: 504px;
    margin-right: 40px;
}

.profile-header {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

}

.profile-desc {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    max-width: 227px;
    word-wrap: break-word;
    margin-left: 24px;
    margin-bottom: 36px;
}


.profile-desc p {
font-size: 32px;
line-height: 48px;
font-weight: 700;
color: #555555;
}


.profile-desc svg {
    width: 16px;
    height: 21px;
}

.profile-desc span {
    color: #7200FF;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
}

.profile-header img {
    height:144px;
    width: 144px;
    object-fit: cover;
    object-position: 90% 18px;
    transform: scale(1.7);
}

.profile-img {
    height:144px;
    width: 144px;
    border-radius: 50%;
    overflow: hidden;
}

.biography {
    /* background-color: khaki; */
    display: flex;
    flex-direction: column;
}

.biography .button {
    margin-top: 20px;
}

.desc-line {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.desc-line p {
    color: #555555;
    font-size: 18px;
    max-width: 480px;
    line-height: 24px;
    
}

.balloon {
    margin-right: 8px;
}

.research {
display: flex;
justify-content: space-between;
width: 66.5%;
margin: 0 auto;
}
.researchImgDiv {
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
}
.research img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 150%;
    transform: scale(1.5);
}
.researchService {
    width: 50%;
}