footer {
    background-color: #5218B1;
    color: #fff;
}

.footerContainer {
    width: 66.5%;
    margin: 0 auto;
    padding:120px 0 65px;
    display: flex;
    flex-direction: column;
}

.footerTopContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
    align-items: center;
}

.contactPreview {
    max-width:416px;
    color: #fff;
}

.contactPreview h3 {
    font-weight: 700;
    line-height: 72px;
    font-size: 60px;
    margin-bottom: 16px;
}


.contactPreview p {
    font-size: 18px;
    font-weight: 400;
    /* line-height: 32px; */
}

.contactDiv ul  {
    display: flex;
    flex-direction: column;
}

footer li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:8px 0;
}

footer a {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.footerIconDiv {
    background-color: rgba(255, 255, 255, 0.08);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.footerIconDiv svg {
   
    object-fit: contain;
}

.footerIconDiv svg path {
    stroke: #fff;
}

.anything {
    max-width: 244px;
}

.anything h4 {
    margin-bottom: 18px;
}

.borderLine {
    height: 1px;
    width: 856px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}

.copyRight {
    margin: 64px auto 0;
    display: inline-block;
}